# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media
media/
media

# Environment variables
.env
.venv
venv/
ENV/

# OS setup
.DS_Store
Thumbs.db

# Firebase / Secrets
firebase-service-account.json
*.json